{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<h1 class="text-center">Объявления</h1>
<div class="row">
    {% for ad in ads %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if ad.avatar %}
                <img src="{{ url_for('static', filename='uploads/' + ad.avatar) }}" class="card-img-top" alt="Аватар автора">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ ad.title }}</h5>
                    <p class="card-text">{{ ad.content }}</p>
                    <p class="card-text"><small class="text-muted">Автор: {{ ad.author }}</small></p>
                    {% if ad.author_email %}
                        <p class="card-text"><small class="text-muted">Email автора: {{ ad.author_email }}</small></p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

